.container
  - @restaurants.each do |restaurant|
    .restaurant-section
      = link_to restaurant do 
        .well.col-md-10 
          %h3= restaurant.name
          = image_tag restaurant.image_url