.container
  .page-header
    %h1 
      Restaurants Ratings!
      %small 
        \- A place to share your reviews
  - @restaurants.each do |restaurant|
    .restaurant-section
      = link_to restaurant do 
        .well.col-lg-11 
          %h3= restaurant.name
          = image_tag restaurant.image_url