.container
  .page-header
    %h1 
      Restaurant Categories
      %small 
        \- Choose one
  .category-list
    %ul 
      - @categories.each do |category|
        %li
          = link_to category do 
            %h3= category.name + " Restaurants"