.container
  %h1= @category.name + " Restaurants"
  - @category.restaurants.each do |restaurant|
    .restaurant-card 
      = link_to restaurant do 
        %h3= restaurant.name
        = image_tag restaurant.image_url